@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color:#DE5F53;
  transition: 0.4s;
}


body {
  /* font-family:  "Lora", Sans-serif; */
} 
/* @media (min-width: 1024px) {

 /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

header{
  background-color:#e58f8f;
  /* background-color: #FFF7F5; */
  /* position: fixed;
  z-index: 10; */
  width: 100%;
  top:0;
}

#logo{
height: 50px;
}

.nav-link{
color: white;
font-weight: 500;
}

.nav-link:hover{
color:rgb(245, 223, 233);
}


.footer{
  background-color: rgb(43, 48, 68);;
  padding: 20px;
  color:white;
}

.footer-right{
  border-left: 1px solid ;
  padding: 0 10px;
}

#banner{
  padding: 20px 50px ;
}

.banner-introduct, .banner-image {
  max-width: 50%;
}

.banner-image{
  /* margin: 10px 0; */
  /* height: 400px; */
  width: 800px;
  margin:50px;
}

img{
  width: 100%;
}

.banner-title{
  font-size: 30px;
  margin: 0 0 10px;
  font-weight: 500;
  font-family: 'Quicksand',sans-serif;
  text-transform: uppercase;
}

.banner-des{
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  padding: 25px 0;
}

.banner-button{
  background-color: #f48380;
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border: 1px solid #f48380;
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  width: 100%;
}

#hotproduct{
  /* background-color: #fde4e9; */
  background-color: #fef7e0;
}
.banner-button:hover{
  background-color: white;
  color: #f48380;
}

.productpage-title, .cartpage-title{
  background-image: url('https://st.depositphotos.com/4514073/59538/i/450/depositphotos_595386262-stock-photo-set-cosmetic-skin-care-products.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
}

.cartpage-title{
  background-image: url('https://dtd31o1ybbmk8.cloudfront.net/photos/ed5c0e62b43d7c4a1445231f9c8c0962/thumb.jpg');
}
.overlay{
  background-color: #322F52;
  opacity: 0.37;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.page-title{
align-self: center;
font-size: 40px;
font-family: "Lora", Sans-serif;
color: #fff;
font-weight: 400;
 height: 60px; 
text-align: center;
z-index: 2;
position: relative;
/* padding: 100px */
}

.product-price{
font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  color: #DE5F53;
  /* padding-top: 10px; */
}

.product-description{
  font-size: 16px;
}


.product-cart{
  width: 24px;
  height: 24px;
  border: none;
  color: #DE5F53;
}

.product{
text-align: center;
border-style: solid;
border-width: 20px 20px 20px 20px;
border-color: #eeeeee;
border-radius: 10px 10px 10px 10px;
background-color: #eeeeee ;
padding: 0 40px; 
margin: 15px -30px;
max-width: 100%;
}

img{
max-width: 100%;
}

.product-title{
font-size: 20px;
font-weight: 500;
font-family: "Lora", Sans-serif;
}


.product img{
  height:250px;
}

.row{
justify-content: space-between;
}

.form-title{
  /* font-size: 40px; */
  padding-left: 40px;
  font-weight: 600;
  /* color: #df6e6e; */
  font-family: "Lora", Sans-serif;
  margin-bottom: 15px;
}


.col-form-label{
font-family: "Lora", Sans-serif;
font-weight: 500;
font-size: 16px;
}

.signup-img1 img{
margin-left: 100px; 
width: 300px;
/* height: 200px; */
border-radius: 50px;
}

.signup-img2 img{
width: 800px;
/* height: 200px; */
border-radius: 50px;
}

img{
  max-width: 100%;
}
thead td{
  font-weight: 600;
  font-size: 18px;
}

tr, thead{
  border: 1px solid rgba(0,0,0,0.2);
  /* height: 100px; */
}

.cart-col3 input{
  width: 50px;
  line-height: 40px;
  padding-left: 10px;
    text-align: center;
}


.cart-col1 img{
  width: 60px;
}

.cart{
  width: 100%;
  font-family: "Lora", Sans-serif;
}

h2,h3{
  font-family: "Lora", Sans-serif;
}

.cart-bottom{
  justify-content: space-between;
  margin:0;
  padding: 50px 0;
}

.back-shopping span{
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
}

.deal{
  border: none;
}

.deal td{
 padding: 0;
}


.col-form-label{
font-family: "Lora", Sans-serif;
}

.signup-img1 img{
margin-left: 100px; 
width: 300px;
/* height: 200px; */
border-radius: 50px;
}

.signup-img2 img{
width: 800px;
/* height: 200px; */
border-radius: 50px;
}

input{
  width: 100%;
}
/* tr, thead{
  border: 1px solid rgba(0,0,0,.1);
  /* height: 100px; */
*/

.cart-col3 input{
  width: 50px;
  line-height: 40px;
  padding-left: 10px;
    text-align: center;
}


.cart-col1 img{
  width: 60px;
}

td{
  padding: 9px 12px;
}

.cart{
  width: 100%;
}

.cart thead{
  background-color: #eeeeee;
}

h2,h3{
  font-family: "Lora", Sans-serif;
}

.cart-bottom{
  justify-content: space-between;
  margin:0;
  padding: 50px 0;
}

.back-shopping span{
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
}

.order table{
  width: 100%;
  background-color: #fff;
}

.order{
  border-left: 1px solid rgba(0,0,0,.5);
}

.order tr{
  border: none;
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.order-price{
  color: #f48380;
}

header .product-cart{
  color: white;
}

.editproduct{
  /* padding-left: 10px; */
  /* margin-left: 10px; */
  border-left: none;
  background-color: #eeeeee;
  /* border-right: 1px solid rgba(0,0,0,.1); */
}

.editproduct table{
  margin-left: 22px;
}
.seatchText{
  padding-top: 20px;
  padding-right: 50px;
}


.list-service{
  list-style-type: none;
  margin-top: 20px;
  background-color: #f2dce0;
}
.list-service img{
  width: 30px;
}

.list-service li{
  padding: 10px 0;
}

.dkmain{
  /* background-color: #e4e5e6; */
  background-image: url('https://i.pinimg.com/736x/94/e0/18/94e018df8f011d489077374361b4026b.jpg'); 
   background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

footer img{
  width: 30px;
}

.input-group input{
  border:none;
  border-bottom: 1px  solid rgba(10, 9, 9, 0.1);
}

.fa-magnifying-glass{
  margin-top: 12px;
  font-size: 18px;
  padding-right: 5px;
}

.address{
  padding-right: 80px;
}

.orderpage{
  background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #eeeeee;
}

.incorectmess{
  background-color: #f0d6d6;
  color: #b11b0e;
  /* padding: 5px; */
  line-height: 40px;
  margin-top: 10px;
}

/* .incorectmess p{
  margin: 0px;
} */
.aroundform{
  background-color: #fff;
}

.label-icon{
  margin-right: 8px;
}


.total{
  background-color: #eeeeee;
}

.total .cart-col3 span{
  font-weight: 600;
}

.order .ordertotal{
  border-top: none;
  border-bottom: none;
}

.editpage{
  padding-right: 50px;
} 

.editpage tr{
  /* background-color: #f1f1f1; */
  padding: 50px;
  line-height: 30px;
  /* margin-left: 50px; */
  background-color: #fff;
}

.editpage td{
  padding: 10px 25px !important;
}

.pink{
  background-color: #60ceed !important;
}

.error-feedback{
  color: red;
}